hr {
  margin: 10px 0;
  height: 1px;
  border: 1px solid #f3f3f3;
}

.non-active {
  -webkit-box-flex: 0.06 !important;
      -ms-flex: 0.06 !important;
          flex: 0.06 !important;
  padding: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.non-active-menu {
  display: none !important;
}

.non-active-menu-cont-active {
  display: block !important;
}

.leftBar {
  -webkit-box-flex: 0.23;
      -ms-flex: 0.23;
          flex: 0.23;
  background-color: #fff;
  height: 89vh;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 10.3%;
}

.leftBar:hover > .scroll::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
}

.leftBar .title {
  width: 70%;
  padding: 10px;
  margin-left: 8px;
  font-size: 15px;
  color: dimgray;
}

.leftBar .text {
  width: 200px;
  word-wrap: break-word;
  padding: 0px 15px;
  margin-top: 20px;
  font-size: 13px;
  color: #585858;
}

.leftBar .scroll {
  overflow-y: scroll;
  height: 89vh;
}

.leftBar .scroll::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.leftBar .scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.leftBar .leftBar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.leftBar .leftBar-content .leftBar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.leftBar .non-active-menu-cont {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leftBar .non-active-menu-cont .none-active-menu-item {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.leftBar .non-active-menu-cont .none-active-menu-item .non-active-icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.leftBar .non-active-menu-cont .none-active-menu-item:hover .non-active-icon {
  color: red;
}

.leftBar .non-active-menu-cont .none-active-menu-item p {
  font-size: 11px;
}

@media screen and (max-width: 989px) {
  .leftBar {
    position: fixed;
    left: 0;
    top: 7%;
    height: 100vh;
    -webkit-box-shadow: 150px 50px 100000px 70px black;
            box-shadow: 150px 50px 100000px 70px black;
  }
  .non-active {
    display: none;
    -webkit-box-flex: 0.06 !important;
        -ms-flex: 0.06 !important;
            flex: 0.06 !important;
    padding: 0 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 503px) {
  .leftBar {
    display: none !important;
  }
}
/*# sourceMappingURL=LeftBar.css.map */