hr {
  margin: 10px 0;
  height: 1px;
  border: 1px solid rgb(243, 243, 243);
}
.non-active {
  flex: 0.06 !important;
  padding: 0 10px;
  transition: all 0.3s;
}
.non-active-menu {
  display: none !important;
}
.non-active-menu-cont-active {
  display: block !important;
}

.leftBar {
  flex: 0.23;
  background-color: #fff;
  height: 89vh;
  overflow-y: hidden;
  position: sticky;
  transition: all 0.3s;
  top: 10.3%;

  &:hover > .scroll::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
  }

  .scroll {
    overflow-y: scroll;
    height: 89vh;
    &::-webkit-scrollbar {
      width: 7px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }
  }

  .leftBar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;

    .leftBar-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .non-active-menu-cont {
    display: none;
    flex-direction: column;
    justify-content: center;
    .none-active-menu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      p {
        font-size: 11px;
      }
    }
  }
}
