.videoContent {
  flex: 1;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .video-item {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin: 10px 0;
    width: 245px;
    transition: 0.3s;
    &:hover {
      background-color: rgb(235, 235, 235);
      box-shadow: 0 0px 10px 5px rgb(218, 218, 218);
      position: relative;
      transition: all 0.3s;
      transition-delay: 1.2s;
      width: 290px;
    }
    .video-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .profile-and-name {
      display: flex;
      align-items: top;
      padding: 5px 0;
      p {
        margin-left: 10px;
        display: flex;
        align-items: top;
        font-size: 13px;
        padding: 5px 5px;
        color: black;
        font-weight: bold;
      }
      img {
        width: 45px;
        border-radius: 50%;
      }
    }
    .channel-name {
      margin-left: 55px;
      P {
        color: rgb(134, 134, 134);
        font-size: 13px;
      }
    }
    .views-and-time {
      margin-left: 55px;
      display: flex;
      padding: 5px 0;
      p {
        color: rgb(134, 134, 134);
        font-size: 13px;
      }
    }
  }
}
